src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getAmericanFlights"
		doc:id="e13bbf17-613e-49f5-bdf7-8cb632269c5c">
		<http:listener doc:name="GET /american"
			doc:id="0227dc10-b5da-4265-b09b-2504e72d6710"
			config-ref="HTTP_Listener_config" path="/american"
			allowedMethods="GET" />
		<flow-ref doc:name="Flow Reference"
			doc:id="7cb61ddf-f1de-4117-88c1-5431484411be" name="setCode" />
		<american-flights-api:get-flights doc:name="Get flights" doc:id="77a4ece7-446e-4b3a-8fcf-b21ed87c5aec" client-id="${american.client_id}" client-secret="${american.client_secret}" config-ref="American_Flights_API_Config" destination="#[vars.code]"/>
		<ee:transform doc:name="Json to [Flight]" doc:id="5e10ff19-7b5c-4a16-8a22-9e526e9698d2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="68d5f159-666a-4ab7-a669-182682b4a0d0" />
	</flow>
	<flow name="getUnitedFlights"
		doc:id="1aed80fe-08b4-4a02-878b-45645f029359">
		<http:listener doc:name="GET /united"
			doc:id="00aa85e2-2fd7-4540-9b1b-f63f0167809a"
			config-ref="HTTP_Listener_config" allowedMethods="GET" path="/united" />
		<flow-ref doc:name="setDest"
			doc:id="e84348d2-63e7-4d1d-8e01-51d4459086fc" name="setCode" />
		<http:request method="GET" doc:name="getFlights" doc:id="d0663786-d5ae-47c6-b256-46dbdac4b196" config-ref="HTTP_Request_configuration_training" path="/united/flights/{dest}" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Json to [Flight]" doc:id="d3cfa97f-d05e-4983-aa0c-f9f87239102c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6d88785a-48d9-46aa-84e7-b5cbd69687a8" />
	</flow>
	<flow name="getDeltaFlights" doc:id="9312ca0f-5036-4a58-a5c3-d6b56fa6ef2f" >
		<http:listener doc:name="GET /delta" doc:id="1e22d91b-5e39-4918-b1be-a556d62f91f6" config-ref="HTTP_Listener_config" path="/delta"/>
		<flow-ref doc:name="setCode" doc:id="854fa72f-a6c6-4be2-85c2-ec8396a68789" name="setCode"/>
		<ee:transform doc:name="Pass Code" doc:id="29f29c69-8205-4936-b70f-6984adab6d94" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="findFlight" doc:name="GET flights" doc:id="11575a20-3657-41b2-804a-82c4dcb6fa12" config-ref="Delta_Web_Service_Consumer_Config"/>
		<ee:transform doc:name="SOAP to Json" doc:id="21476140-f14a-4eac-b8e1-711f84afa72c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<sub-flow name="setCode" doc:id="c52cad56-fab7-44ad-99c9-c1b3b2d06079">
		<set-variable value="#[message.attributes.queryParams.code default 'SFO']" doc:name="code" doc:id="973d535e-af1e-44ae-8716-2a2002ec956b" variableName="code" />
	</sub-flow>
</mule>
